.report-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A849F;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.date-picker {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.date-picker label {
    margin-right: 10px;
}

.view-button {
    background-color: #0A849F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto; /* Allow horizontal scroll on small screens */
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.report-table th {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .report-header, .search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-info {
        margin-top: 10px;
    }

    .date-picker {
        margin-bottom: 10px;
    }

    .view-button {
        width: 100%;
    }

    .logout-button {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .report-container {
        padding: 15px;
    }

    .report-header {
        padding: 8px;
        font-size: 16px;
    }

    .logout-button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .date-picker label, .view-button {
        font-size: 14px;
    }

    .date-picker {
        flex-direction: row;
    }

    .date-picker label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .report-table th, .report-table td {
        padding: 10px;
    }
}
