.container-fluid {
    padding: 20px;
}

.main-content {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; /* Adjust the max-width as needed */
    box-sizing: border-box;
}

.form-header {
    background-color: #0A849F;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.tax-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.documents {
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100% !important;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    flex: 1;
    padding: 10px;
    background-color: #0A849F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox-container label{
    width: 100% !important;
}
/* .checkbox-container input[type="checkbox"] {
    margin-left: -100px;
} */

.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 10px;
    }

    .form-group{
        display: flex;
        flex-direction: row;
    }

    .checkbox-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .documents .buttons{
        display: "flex";
        flex-direction: column;
    }
}

.form-group button[type="submit"] {
    padding: 10px 20px;
    background-color: #0A849F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button[type="submit"]:hover {
    background-color: #218838;
}
