.change-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.input-icon {
  position: relative;
}

.input-icon svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 18px;
  color: #666;
}

.input-icon input {
  padding-left: 30px; /* Space for the icon */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px 10px 30px; /* Adjust padding to avoid overlap with the icon */
}

button {
  background-color: #0A849F;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #0A6E89;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .change-password-container {
    padding: 15px;
  }

  .input-icon svg {
    font-size: 16px;
  }

  button {
    padding: 10px 16px;
    font-size: 14px;
  }
}
