.login-page {
  width: 90%;
  max-width: 400px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form h4 {
  color: #0A849F;
  font-weight: 700;
}

.login-form p {
  color: darkgray;
}

.form button {
  outline: 0;
  background: #298d2d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 19px;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}

.form .message a {
  color: #0A849F;
  text-decoration: none;
}

.checkbox-container {
  text-align: left;
  margin-bottom: 15px;
  gap: 10px;
}
.checkbox-container input{
  width: 20px;
  height: 20px;
}
.checkbox-container label{
  margin-left: 2px !important;
  /* width: 100% !important; */
  /* margin-top: -15px; */
}
label{
  width: 50% !important;
}
/* .checkbox-container input[type="checkbox"] {
  margin-right: 10px; /* Add margin to separate checkbox from label */
/* }  */
